.home {
  min-height: calc(100vh - 4rem);
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.homeWrapper {
  position: relative;
  margin-top: -3rem;
}

.subHeadContainer span {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.8rem;
  position: relative;
  padding-left: 3.5rem;
}
.subHeadContainer span::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  margin-top: -1px;
  height: 2px;
  width: 40px;
  background-color: black;
}
.headerContainer {
  margin: 0.2rem 0 2rem 0;
}

.headerContainer h2 {
  font-size: 2rem;
  font-weight: 600;
}

.btnContainer button {
  border: 2px solid black;
  outline: unset;
  padding: 0.8rem;
  font-size: 1rem;
  letter-spacing: 1px;
  width: 100%;
  background-color: transparent;
}
.scrollContainer {
  position: absolute;
  bottom: -40%;
  left: 50%;
  margin-left: -16px;
  transform: rotate(-90deg);
}

.scrollContainer img {
  width: 50px;
  margin-left: -10px;
  transform: rotate(180deg);
  height: 30px;
}

.scrollContainer h4 {
  margin-top: -15px;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 680px) {
  .home {
  }
  .homeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
  }
  .btnContainer {
    align-self: flex-start;
    min-width: 340px;
  }
  .subHeadContainer h4 {
    font-size: 1.2rem;
  }
  .headerContainer h2 {
    font-size: 3rem;
  }

  .scrollContainer {
    left: 0;
    bottom: -100%;
  }
}

@media screen and (min-width: 880px) {
  .homeWrapper {
    flex-direction: row;
  }

  .btnContainer {
    align-self: center;
  }

  .scrollContainer {
    margin-left: -10px;
  }
}
