.nav {
  background-color: var(--primary);
  height: 4rem;
  /* margin-top: -4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  position: relative;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  z-index: 99;
  width: 100%;
  padding: 0 2rem;
}

.logo {
  text-decoration: none;
  justify-self: flex-start;
  align-self: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid white;
  color: white;
  padding: 0.2rem;
  font-size: 1.4rem;
  z-index: 100;
}

/* custom */

.btn {
  position: absolute;
  top: 50%;
  right: 2rem;
  margin-top: -10px;
  width: 30px;
  cursor: pointer;

  z-index: 100;
}

.btn span {
  display: block;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
  position: relative;
}

.btn span + span {
  margin-top: 0.45rem;
}

.btn.burgerActive span:nth-child(1) {
  animation: top 0.4s ease forwards;
}

.btn.notActive span:nth-child(1) {
  animation: top2 0.4s ease forwards;
}

.btn.burgerActive span:nth-child(2) {
  animation: scaled 0.4s ease forwards;
}

.btn.notActive span:nth-child(2) {
  animation: scaled2 0.4s ease forwards;
}

.btn.burgerActive span:nth-child(3) {
  animation: bottom 0.4s ease forwards;
}

.btn.notActive span:nth-child(3) {
  animation: bottom2 0.4s ease forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 9px;
    transform: rotate(0);
  }
  100% {
    top: 9px;
    transform: rotate(45deg);
  }
}

@keyframes top2 {
  0% {
    top: 9px;
    transform: rotate(45deg);
  }
  50% {
    top: 9px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 9px;
    transform: rotate(135deg);
  }
}

@keyframes bottom2 {
  0% {
    bottom: 9px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* end of custom icon */

.linkContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  width: 100%;
  height: calc(100vh - 4rem);
  position: absolute;
  top: 4rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 98;
  transform: translateY(-120%);
  opacity: 0;
  transition: all 0.3s ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}

.navItem {
  width: 100%;
  display: flex;
}

/* TODO: dont forget this */
.navItem .underline {
  border-bottom: 2px solid green;
}

.linkScroll {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 2.5rem 0;
  text-align: center;
}

.linkContainer .navItem:last-of-type .linkScroll {
  border-right: none;
}

@media screen and (min-width: 680px) {
  .btn {
    display: none;
  }

  .linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: unset;
    height: unset;
    position: unset;
    transform: translateY(0);
    opacity: 1;
  }

  .navItem {
    cursor: pointer;
    padding: 0.5rem 0;
  }

  .linkScroll {
    border-right: 1px solid white;
    padding: 0 1rem;
  }
  .navItem:last-of-type .linkScroll {
    padding-right: 0;
  }
}
