.nav {
  background-color: var(--primary);
  height: 4rem;
  /* margin-top: -4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  position: relative;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  z-index: 99;
  width: 100%;
  padding: 0 2rem;
}

.logo {
  text-decoration: none;
  justify-self: flex-start;
  align-self: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid white;
  color: white;
  padding: 0.2rem;
  font-size: 1.4rem;
  z-index: 100;
}

.icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 2rem;
  margin-top: -12.5px;
  z-index: 100;
}

.icon img {
  height: 25px;
}

.linkContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  width: 100%;
  height: calc(100vh - 4rem);
  position: absolute;
  top: 4rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 98;
  transform: translateY(-120%);
  opacity: 0;
  transition: all 0.3s ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}

.navItem {
  width: 100%;
  display: flex;
}

/*  dont forget this */
.navItem .underline {
  border-bottom: 2px solid green;
}

.linkScroll {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 2.5rem 0;
  text-align: center;
}

.linkContainer .navItem:last-of-type .linkScroll {
  border-right: none;
}

@media screen and (min-width: 680px) {
  .icon {
    display: none;
  }

  .linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: unset;
    height: unset;
    position: unset;
    transform: translateY(0);
    opacity: 1;
  }

  .navItem {
    cursor: pointer;
    padding: 0.5rem 0;
  }

  .linkScroll {
    border-right: 1px solid white;
    padding: 0 1rem;
  }
  .navItem:last-of-type .linkScroll {
    padding-right: 0;
  }
}
